{% extends 'base.html' %}

{% block title %}Files{% endblock %}

{% block body %}
<nav class="navbar fixed-top navbar-light" style="background-color: #e9e9e9;">
  <div class="container-fluid">
    <form action="/logout" method="POST">
      <button class="btn btn-sm btn-outline-secondary" id="logout">Log Out</button>
    </form>

    <img src="/static/images/icon.png" alt="" width="30" height="auto" class="d-inline-block align-text-top">
    
    <form action='/create_template' id="new_template" method="POST">
      <button class="btn btn-sm btn-outline-secondary" type="submit" id="to_templates">Create a new Template</button>
  </form>
  </div>
</nav>

<h2> template files </h2>

<div class="container">
    <div class="row" style="text-align: center;">
      <div class="col-2" id="divider"></div>
  
      <div class="col-8" style="border:1px solid gray;padding-right:0px;padding-left:0px; border-radius:8px;">
        <div class="navbar">
          <p> Your Templates:</p>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Template</th>
              <th scope="col"></th>
            </tr>
          </thead>
          
          {% for temp in user_temps %}
          <tbody>
            <th scope="row">{{ loop.index }}</th>
            <td>
                <a href="/template_creator/{{ temp.template_id }}"> {{ temp.template_id }}</a>
            </td>
            <td class="col-2">
              <form action="/delete_file/{{ temp.template_id }}" method="POST">
                <button class="btn btn-sm btn-danger" id="temp.template_id" onclick="return confirm('Do you want to permanently delete file {{ temp.template_id }}?');">Delete</button>
              </form>
            </td>
          </tbody>
          {% endfor %}
        </table>

      </div>
  
      <div class="col-2" id="divider"></div>
    </div>
  </div>
{% endblock %}