{% extends 'base.html' %}

{% block title %}Files{% endblock %}

{% block body %}
<form action="/logout" method="POST">
    <button id="logout">Log Out</button>
</form>

<h1> template files </h1>
<table>
    {% for temp in user_temps %}
    <tr>
        <th> Template {{ temp.template_id }}</th>
        <td>{{ temp.template_id }}</td>
    </tr>
    {% endfor %}
</table>

<form action='/template_creator'>
    <button type="submit" id="to_templates">To Template Creator</button>
</form>
{% endblock %}