{% extends 'base.html' %}

{% block title %}Files{% endblock %}

{% block body %}
<div class="navbar">
    <form action="/logout" method="POST">
        <button id="logout">Log Out</button>
    </form>

    <form action='/create_template' id="new_template" method="POST">
      <button type="submit" id="to_templates">Create a new Template</button>
  </form>
</div>

<h2> template files </h2>

<div class="container">
    <div class="row" style="text-align: center;">
      <div class="col-2" id="divider"></div>
  
      <div class="col-8" style="border:1px solid gray;padding-right:0px;padding-left:0px;">
        <div class="navbar">
          <p> Your Templates:</p>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Template</th>
              <th scope="col"></th>
            </tr>
          </thead>
          
          {% for temp in user_temps %}
          <tbody>
            <th scope="row">{{ loop.index }}</th>
            <td>
                <a href="/template_creator/{{ temp.template_id }}"> {{ temp.template_id }}</a>
            </td>
            <td class="col-2">
              <form action="/delete_file/{{ temp.template_id }}" method="POST">
                <button class="btn btn-danger" id="temp.template_id" onclick="return confirm('Do you want to permanently delete file {{ temp.template_id }}?');">Delete {{ temp.template_id }}</button>
              </form>
            </td>
          </tbody>
          {% endfor %}
        </table>

      </div>
  
      <div class="col-2" id="divider"></div>
    </div>
  </div>
{% endblock %}