{% extends 'base.html' %}

{% block title %} Photocard Template - Home {% endblock %}

{% block body %}
<div class="navbar">
    <form action="/login">
        <button type="submit" id="login">Login</button>
    </form>
    <form action="/template_creator">
        <button id="continue as guest">Continue as Guest</button>
    </form>
</div>

<div class="container" style="padding: 5px;">
    <div class="row">
      <div class="col-2" id="divider"></div>
  
      <div class="col-8" id="homepage-content" style="border:1px solid gray;padding-right:0px;padding-left:0px;">
        <div class="navbar">
            <h2> Home </h2>
        </div>
            <img src="https://ibighit.com/bts/images/bts/discography/map_of_the_soul-persona/version02-01-m.jpg">
            <p style="text-align: center;"> welcome to the very first k-pop template creator, where you can create
                your own custom template that fits your style and look for specific photocards!
            </p>
      </div>
  
      <div class="col-2" id="divider"></div>
    </div>
  </div>

{% endblock %}