{% extends 'base.html' %}

{% block title %} Photocard Template - Home {% endblock %}

{% block body %}
<div class="navbar">
    <form action="/login">
        <button type="submit" id="login">Login</button>
    </form>
    <form action="/template_creator">
        <button id="continue as guest">Continue as Guest</button>
    </form>
</div>
<h2>welcome!</h2>
<p style="text-align: center;">
    welcome to the very first k-pop template creator! here, you can create your own
    custom template that fit's your style and has the photocards that you're looking for.
</p>
</div>

{% endblock %}