{% extends 'base.html' %}

{% block title %} Log In - Register{% endblock %}
{% block head %}
<script
  src="http://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous">
</script>
{% endblock %}

{% block body %}
<div class="navbar">
  <form action='/'>
    <button type="submit" id="home">Back to Homepage</button>
  </form>
  <form action='/template_creator'>
    <button type="submit" id="to_templates">To Template Creator</button>
  </form>
</div>

<h2>Please login or register</h2>

<div class="container">
  <div class="row" style="text-align: center;">
    <div class="col-2" id="divider"></div>

    <div class="col-8" style="border:1px solid gray;padding-right:0px;padding-left:0px;">
      <div class="navbar">
        <button id="register">Register</button>
        <button id="log" style="display: none;">Log In</button>
      </div>
      <form action="/login" id="log_user" method="POST">
        <h3>login</h3>
        <p>
          Email <input type="text" name="email">
        </p>
        <p>
          Password <input type="password" name="password">
        </p>
        <p>
          <input type="submit">
        </p>
      </form>
      
      <form action="/user" id="register_user" style="display:none;" method="POST">
        <h3>register</h3>
        <p>
          Email <input type="text" name="email">
        </p>
        <p>
          Password <input type="password" name="password">
        </p>
        <p>
          <input type="submit">
        </p>
      </form>
    </div>

    <div class="col-2" id="divider"></div>
  </div>
</div>

<script src="/static/js/loginuser.js"></script>
{% endblock %}