{% extends 'base.html' %}

{% block title %} Template Creator{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
<script
  src="http://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous">
</script>
{% endblock %}

{% block body %}
<div class="navbar">
  {% if session.get("user_id") %}
  <form action='/template_files'>
    <button type="submit" id="back_files">Back to Files</button>
  </form>
  {% else %}
  <form action='/'>
    <button type="submit" id="back_home">Back to Homepage</button>
  </form>
  {% endif %}
</div>


<h1> template creator </h1>
<div class="column" id="creator" style="height:700px;width:900px;border:1px solid gray;"></div>


<div class="column" style="height:600px;width:500px;border:1px solid gray;overflow:auto;">
  <section id="photocards">

    <div class="navbar">
      <form method="POST">
        <input type="text" placeholder="search...">
        <button type="submit" id="search"> search </button>
      </form>
      <form method="POST">
        <select name="groups" id="groups">
          <option value="all">all</option>
          <option value="bts">bts</option>
          <option value="stray kids">stray kids</option>
          <option value="ateez">ateez</option>
        </select>
      </form>
    </div>

    <div id="all_photocards">
      <ul>
          {% for card in photocards %}
          <li>
            <input type="checkbox" id="cb{{ card.photocard_id }}" value="{{card.pc_img}}" />
            <label for="cb{{ card.photocard_id }}"> <img src="{{card.pc_img}}" /> </label>
          </li>
          {% endfor %}
        </ul>
    </div>

  </section>

  <section id="customize" style="display: none;">
    <ul>
      <li>
        <label>Background Color:</label>
        <input class="input-bg-picker" type="color" id="bg-color" name="background">
      </li>
      <li>
        <label>Font Color:</label>
        <input class="input-font-picker" type="color" id="font-color" name="font">
      </li>
    </ul>

  </section>
</div>

<button id="save">Download Template</button>
<button id="to_customize">To Customization</button>
<button id="back" style="display: none;">Back</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.js"></script>
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
  integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer">
</script>

<script src="/static/js/templateCreator.js"></script>
<script type="module" src="/static/js/domToImage.js"></script>
<script src="/static/js/userCustomization.js"></script>

{% endblock %}